.Wrapper {
    max-width: 100%;
    margin: auto;
}

.rowWrapper {
    display: flex;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 7px;
    margin-right: 8px;
    
}

.header {
    margin: 20px
}
